*{
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("https://i.pinimg.com/originals/e9/cf/a7/e9cfa71f02ff8e3504410e831d883cd7.gif");
} 
.header{
    position:fixed;
    top: 10px;
    left: 0;
    font-weight: bold;
   
    
}
.header ul li{
    display: inline;
    margin-right: 30px;
    font-size: 25px;
    margin-top: 40px;
    
}
.container{
    margin-top: 100px;
    height: 200px;
   
   
}



h1{
    font-size: 30px;
    margin-bottom: 10px;
}
h2{
    font-size: 30px;
    margin-bottom: 10px;
}

#addictionalInfo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    grid-gap: 15px; 
}
#first{
    background-color:transparent;
    padding: 30px;
    text-align: center;
    border: 1px solid #000000;
border-radius: 20px;

box-shadow: -3px 9px 23px 11px rgba(0,0,0,0.56);
-webkit-box-shadow: -3px 9px 23px 11px rgba(0,0,0,0.56);
-moz-box-shadow: -3px 9px 23px 11px rgba(0,0,0,0.56);
}
/* .material-symbols-outlined{
    font-variation-settings;
    height: 40px;
    width: 40px;

} */


